<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @entry.likes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
