<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @relation.user1.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @relation.user2.name %>
</p>

<p>
  <strong>Status:</strong>
  <% if @relation.status == 0 %>
    <t>Pendiente</t>
  <% else %>
    <t>Aceptada</t>
  <% end %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
